main{
    background-image: url(../img/background-main.png);
    border-bottom: 3px solid rgb(78, 90, 255);
}
main img{
    width: 85%;
    display: block;
    margin: auto;
    padding: 100px;
}
main h1{
    color: white;
    text-align: center;
    font-size: 150%;
    padding-bottom: 110px;
}